<%- include('partials/header') %>

<%  loans.forEach(function(item){ %>
  <% if (item.status!="completed"){ %>
      <% if (item.loaneeID!= locals.user._id){ %>
  <div class="col-md-3 col-sm-6">
  <form action="/users/profile/loan/<%=item.loaneeID%>/giveLoanSubmit" class="bankform" id="loanForm">
   <p>loanee -> <%=item.loanee%></p>
   <p>amount -> <%=item.amount%></p>
   <p>tenure -> <%=item.tenure%></p>
   <p>interest -> <%=item.interest%></p>
    <button type="submit" class="btn btn-1" name="button">Lend</button>
  </form>
</div>
<% } %>
<% } %>
<%  }); %>

<%- include('partials/footer') %>
